body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(185, 220, 245);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.menu {
    list-style-type: none;
    margin: 0;
    padding: 0cm;
    overflow: hidden;
    background-color: rgb(42, 2, 2, 0.766);
    position: relative;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(238, 244, 188);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(80, 3, 3);
}

.active {
    background-color: #03b32f;
}

.footer {
    /* position: absolute;  */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 208, 255, 0.556);
    color: rgb(254, 150, 150);
    text-align: center;
}

img {
    border-radius: 40%;
    position: relative;
    float: right;
    top: 70px;
    right: auto;
    left: auto;
    max-width: 100%;
    display: block;
    
}